#bonfire-bg {
    position: absolute;
    width: 100vw;
    height: 100px;
    top: 44%;
    background-color: rgba(8, 6, 6, 0.486);
    filter: blur(3px);
    animation: fadeIn 2s ease-in-out forwards;
}

.bonfire-text {
    font-size: 50px;
    color: white;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0px);
    }
}
