html {
    background-color: grey;
}

/* Room1 Background */
body {
    background-image: url("Contents/Chest_Room.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}

/*CHEST LEFT*/
#ChestL{
    /*background-color: black;*/
    width: 25vw;
    Height: 25vh;
    Position:absolute;
    Bottom: 10vh;
    left: 25vw;

}

#ChestF {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 35%;
    width: 100px;
    height: 50px;
    border-top: 1px rgb(155, 102, 32) solid; 
    border-bottom: 1px rgb(155,102,32) solid; 
    margin-top: 10%;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Add transition for smooth fade-in */
}

#ChestL:hover > #ChestF{
    opacity: 1;
}

/* CHEST RIGHT*/

#Chest2L{
    /*background-color: black;*/
    width: 25vw;
    Height: 25vh;
    Position:absolute;
    Bottom: 10vh;
    right: 14vw;

}

#Chest2F {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    left: 20px;
    width: 100px;
    height: 50px;
    border-top: 1px rgb(155, 102, 32) solid; 
    border-bottom: 1px rgb(155,102,32) solid; 
    margin-top: 10%;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Add transition for smooth fade-in */
}

#Chest2L:hover > #Chest2F{
    opacity: 1;
}



.Promptext{
    font-family: "Adobe Garamond", serif;
    position: absolute;
    bottom: 25%;
    left: 25%;
    font-weight: narrow;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}