html {
    background-color: grey;
}

/* KeyRoom Background */
body {
    background-image: url("Contents/Chest_Room.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}

#pop-up{
    background-color: black,.8;
    Position:absolute;
    top:100px;
    width:100px;
    height:100px;
  

}




/*.Promptext{
    font-family: "Adobe Garamond", serif;
    position: absolute;
    bottom: 25%;
    left: 25%;
    font-weight: narrow;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}